main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcome {
  display: grid;
  gap: 0.5rem;
}

button {
  border: 2px solid black;
  padding: 0.5ch;
  background-color: white;
}

button:hover {
  cursor: pointer;
  background-color: #eee;
}
